about.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Главная | Mastermedia</title>
</head>

<body>
    <header class="header section">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container"><a class="navbar-brand" href="#"><img class="img-fluid navbar__logo" src="/mastermedia/img//logomm-570x123.png" alt="MasterMedia"></a><a class="contact d-none d-sm-block d-md-none" href="tel:+7 (846) 303-04-01">+7 (846) 303-04-01</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Мы</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Услуги</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Проекты</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#contacts">Контакты </a></li>
                        <li class="nav-item navbar-nav__item contact"><a class="nav-link navbar-nav__link" href="#">+7 (846) 303-04-01</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 512.00096 512.00096" enable-background="new 0 0 30 30">
                                    <path d="m373.40625 0h-234.8125c-76.421875 0-138.59375 62.171875-138.59375 138.59375v234.816406c0 76.417969 62.171875 138.589844 138.59375 138.589844h234.816406c76.417969 0 138.589844-62.171875 138.589844-138.589844v-234.816406c0-76.421875-62.171875-138.59375-138.59375-138.59375zm108.578125 373.410156c0 59.867188-48.707031 108.574219-108.578125 108.574219h-234.8125c-59.871094 0-108.578125-48.707031-108.578125-108.574219v-234.816406c0-59.871094 48.707031-108.578125 108.578125-108.578125h234.816406c59.867188 0 108.574219 48.707031 108.574219 108.578125zm0 0" />
                                    <path d="m256 116.003906c-77.195312 0-139.996094 62.800782-139.996094 139.996094s62.800782 139.996094 139.996094 139.996094 139.996094-62.800782 139.996094-139.996094-62.800782-139.996094-139.996094-139.996094zm0 249.976563c-60.640625 0-109.980469-49.335938-109.980469-109.980469 0-60.640625 49.339844-109.980469 109.980469-109.980469 60.644531 0 109.980469 49.339844 109.980469 109.980469 0 60.644531-49.335938 109.980469-109.980469 109.980469zm0 0" />
                                    <path d="m399.34375 66.285156c-22.8125 0-41.367188 18.558594-41.367188 41.367188 0 22.8125 18.554688 41.371094 41.367188 41.371094s41.371094-18.558594 41.371094-41.371094-18.558594-41.367188-41.371094-41.367188zm0 52.71875c-6.257812 0-11.351562-5.09375-11.351562-11.351562 0-6.261719 5.09375-11.351563 11.351562-11.351563 6.261719 0 11.355469 5.089844 11.355469 11.351563 0 6.257812-5.09375 11.351562-11.355469 11.351562zm0 0" /></svg></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="first">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <header class="row section">
                <div class="col-sm-12">
                    <h1 class="pagetitle">История агентства </h1>
                </div>
            </header>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>Вести бизнес без рекламы – все равно, что подмигивать девушке в полной темноте<br><span class="text_italic"> Стюарт Бритт </span></h2>
                </div>
            </section>
            <section class="row section">
                <div class="col-12"><img class="img-fluid" src="img/about-1110.jpg"></div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>2004 год <span class="text_italic">Стартовый проект </span>работы Агентства</h2>
                </div>
                <div class="col-12">
                    <p>Федеральная служба занятости населения по Самарской области Объединенная Ярмарка Вакансий «Найди работу в Самаре!»</p>
                    <p>Заказчик: Проект - Поддержка выборов депутатов Государственной Думы вгородах Самарской области</p>
                    <p>Организация и проведение мероприятия «под ключ»: разработка фирменного стиля и логотипов мероприятия, проведение комплексной рекламной кампании,</p>
                    <p>пресс-релизы, пресс-конференции, публикации анонсов, мониторинг СМИ и постпубликации,</p>
                    <p>сувенирная и фирменная рекламная продукция, оформление площадок мероприятия, организация мероприятия. </p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>2005 год <span class="text_italic">Первый крупный </span>рекламный проект по ПФО </h2>
                </div>
                <div class="col-12">
                    <p>Заказчик: ОАО «Мобильные Телесистемы» (МТС Поволжье) Продвижение услуг сотового оператора</p>
                    <p>Мониторинг и анализ рекламы прямых конкурентов; медиапланирование; изготовление и размещение рекламы, в том числе контекстной, нативной и скрытой рекламы в печатных СМИ городов ПФО (Самара, Оренбург, Саратов, Уфа, Ульяновск, Казань, Волгоград) </p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>2005 - 2012 год <span class="text_italic">Уникальные 7 лет </span>качественного сотрудничества с темой Фондового рынка </h2>
                </div>
                <div class="col-12">
                    <p>Первая кампания, которую мы провели по всем законам жанра маркетинга, прежде чем запустилась масштабная рекламная кампания, было проведено развернутое маркетинговое исследование, давшее верный вектор на уникальную отдачу последующей рекламной кампании с максимальной отдачей для бизнеса клиента.</p>
                    <p>Заказчик: Инвестиционная компания «Восток-Инвест»<br>Маркетинговые исследования; Разработка и реализация комплексных рекламных и PR-кампаний по продвижению услуг ИК «Восток-Инвест»; Командообразование (Team building );</p>
                    <p>Создание журнала и выпуск корпоративного издания «УДАЧНЫЙ ТRЕНД» в течение 7 лет</p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>2006 год - Задан <span class="text_italic">старт ежегодного турнира </span>по развитию футбола<br>Первый совместный проект с партией <span class="text_italic">Единая-Россия </span></h2>
                </div>
                <div class="col-12">
                    <p>Заказчик: Группа компаний RBE Турнир по мини-футболу «Чемпионы среди нас»</p>
                    <p>Организация и проведение мероприятия «под ключ» в городах Самарской области</p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>С 2007 по 2011 года <span class="text_italic"> СОЦИОЛОГИЧЕСКИЕ </span>и <span class="text_italic">МАРКЕТИНГОВЫЕ </span>ИССЛЕДОВАНИЯ </h2>
                </div>
                <div class="col-12">
                    <p>Заказчик: Правительство Самарской области</p>
                    <p>Организация и проведение на территории Самарской области ряда комплексных социологических и маркетинговых исследований, в том числе по Приоритетным Национальным Проектам в сфере здравоохранения, образования и АПК. </p>
                    <p>Исследования проводились в 38 административных округах Самарской области, включая город Самара. Волновое исследование в общей сложности затронуло 25000 респондентов;</p>
                    <p>Продвижение и популяризация проекта «Электронное правительство» среди населения Самарской области.</p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>2008-2009 гг Крупный <span class="text_italic"> московский проект </span>по Самарской области </h2>
                </div>
                <div class="col-12">
                    <p>Заказчик: Фондовая биржа РТС (Москва). Проект по продвижению «Школы трейдеров».</p>
                    <p>Разработка и проведение кампании по продвижению услуг на территории Самары,</p>
                    <p>организация и сопровождение проекта «Школа трейдеров»</p>
                    <p>Конференции, размещение в печатных СМИ, на радио</p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>с 2008 по 2011 Агентство участвовало в уникальном проекте<span class="text_italic"> ребрендинга </span>старейшей областной газеты Самарской области <span class="text_italic">«Волжская коммуна» </span></h2>
                    <p><strong>(в том числе создание сайта газеты vkonline.ru) </strong></p>
                </div>
                <div class="col-12">
                    <p>Заказчик: Правительство Самарской области</p>
                    <p>Разработка и проведение рекламной кампании по продвижению нового имиджа издания</p>
                </div>
            </section>
            <section class="row section">
                <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                <div class="col-sm-12 col-md-8">
                    <h2>с 2010 по 2014 <span class="text_italic"> долгосрочный опыт сотрудничества </span>рекламно-организационной плоскости с промышленным предприятием нефтяной отрасли </h2>
                </div>
                <div class="col-12">
                    <p>Заказчик: Куйбышевский нефтеперерабатывающий заводи</p>
                    <p>Подготовка и организация тематических мероприятий «под ключ»:</p>
                    <p>День Молодежи, День Выпускника, Конкурс Детского рисунка, Мероприятия «Лучший по профессии», «День ветеранов завода», Подготовка мероприятия «Юбилей КНПЗ» </p>
                </div>
            </section>
        </div>
    </main>
    <section id="contact-form-section">
        <form method="POST" class="contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Имя</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Компания</label>
                                    <input type="text" class="form-control" name="company" id="company" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Телефон</label>
                                    <input type="text" class="form-control" name="phone" id="phone" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label>Задайте вопрос или кратко опишите ситуацию</label>
                                <textarea class="form-control" name="message" id="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
                        <div class="form__description">Если остались вопросы, звоните по телефону
                            <br><a href="tel:+7 (846) 303-04-01" class="contact-form__link"><strong style="white-space: nowrap;">+7 (846) 303-04-01</strong></a>
                            <br> или пишите на <a href="mailto:info@mastermediapro.ru" class="contact-form__link"><strong>info@mastermediapro.ru</strong></a>
                        </div>
                        <div class="contact-form__submit-section">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2" name="approve[]" value="approve" checked required>
                                <label style="font-size:0.8rem;margin-bottom:1em;" class="form-check-label" for="exampleCheck2">Нажимая на кнопку «Отправить», даю
                                    <a class="contact-form__link" href="#"><span style="font-weight:bold;">согласие на обработку персональных данных</span></a>
                                </label>
                            </div>
                            <input type="text" name="nospam" value="" class="d-none" />
                            <div class="text-center text-sm-left"><input class="btn btn-outline-light contact-form__button" type="submit" value="Отправить"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <footer>
        <div id="contacts">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53017a4256d3d7057bb88b450f9fe1c6ef5adb4a5549a9863e2c2afccfb985a6&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Россия, 443041,<br>г. Самара, <br>ул. Буянова, 1, корпус 4, <br>офис 707. </p>
                    </div>
                    <div class="col-sm-6">
                        <p> Тел. <a href="tel:+7 (846) 303-04-01"><strong>+7 (846) 303-04-01</strong></a><br>Эл. почта <a href="mailto:info@mastermediapro.ru"><strong>info@mastermediapro.ru</strong></a></p>
                        <p>Мы работаем с 10 до 18 часов</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>© 2018-2019 MasterMedia - все права защищены</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Разработка сайта <a href="https://admix.pro">ADMiX Digital Agency</a></p>
                    </div>
                </div>
            </div>
        </section>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>

src/pug/about.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/navbar
      .first
        .container
          .row
            .col-12
               include includes/breadcrumbs
    main
      .container
        header.row.section
          .col-sm-12            
              h1.pagetitle История агентства 
        section.row.section
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2 Вести бизнес без рекламы – все равно, что подмигивать девушке в полной темноте
              br
              span.text_italic  Стюарт Бритт  
        section.row.section
          .col-12
              img.img-fluid(src="img/about-1110.jpg")           
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2004 год 
              span.text_italic Стартовый проект 
              | работы Агентства
          .col-12
            p Федеральная служба занятости населения по Самарской области Объединенная Ярмарка Вакансий «Найди работу в Самаре!»
            p Заказчик: Проект - Поддержка выборов депутатов Государственной Думы вгородах Самарской области
            p Организация и проведение мероприятия «под ключ»: разработка фирменного стиля и логотипов мероприятия, проведение комплексной рекламной кампании,
            p пресс-релизы, пресс-конференции, публикации анонсов, мониторинг СМИ и постпубликации,
            p сувенирная и фирменная рекламная продукция, оформление площадок мероприятия, организация мероприятия.            
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2005 год 
              span.text_italic Первый крупный 
              | рекламный проект по ПФО              
          .col-12
            p Заказчик: ОАО «Мобильные Телесистемы» (МТС Поволжье) Продвижение услуг сотового оператора
            p Мониторинг и анализ рекламы прямых конкурентов; медиапланирование; изготовление и размещение рекламы, в том числе контекстной, нативной и скрытой рекламы в печатных СМИ городов ПФО (Самара, Оренбург, Саратов, Уфа, Ульяновск, Казань, Волгоград)           
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2005 - 2012 год  
              span.text_italic Уникальные 7 лет 
              | качественного сотрудничества с темой Фондового рынка            
          .col-12
            p Первая кампания, которую мы провели по всем законам жанра маркетинга, прежде чем запустилась масштабная рекламная кампания, было проведено развернутое маркетинговое исследование, давшее верный вектор на уникальную отдачу последующей рекламной кампании с максимальной отдачей для бизнеса клиента.
            p Заказчик: Инвестиционная компания «Восток-Инвест»
              br
              |Маркетинговые исследования; Разработка и реализация комплексных рекламных и PR-кампаний по продвижению услуг ИК «Восток-Инвест»; Командообразование (Team building );
            p Создание журнала и выпуск корпоративного издания «УДАЧНЫЙ ТRЕНД» в течение 7 лет
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2006 год - Задан 
              span.text_italic старт ежегодного турнира 
              | по развитию футбола
              br
              | Первый совместный проект с партией 
              span.text_italic Единая-Россия                 
          .col-12
            p Заказчик: Группа компаний RBE Турнир по мини-футболу «Чемпионы среди нас»
            p Организация и проведение мероприятия «под ключ» в городах Самарской области
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | С 2007 по 2011 года 
              span.text_italic  СОЦИОЛОГИЧЕСКИЕ 
              | и 
              span.text_italic МАРКЕТИНГОВЫЕ 
              | ИССЛЕДОВАНИЯ                 
          .col-12
            p Заказчик: Правительство Самарской области
            p Организация и проведение на территории Самарской области ряда комплексных социологических и маркетинговых исследований, в том числе по Приоритетным Национальным Проектам в сфере здравоохранения, образования и АПК.             
            p Исследования проводились в 38 административных округах Самарской области, включая город Самара. Волновое исследование в общей сложности затронуло 25000 респондентов;
            p Продвижение и популяризация проекта «Электронное правительство» среди населения Самарской области.
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | 2008-2009 гг Крупный  
              span.text_italic  московский проект 
              | по Самарской области                  
          .col-12
            p Заказчик: Фондовая биржа РТС (Москва). Проект по продвижению «Школы трейдеров».
            p Разработка и проведение кампании по продвижению услуг на территории Самары,
            p организация и сопровождение проекта «Школа трейдеров»
            p Конференции, размещение в печатных СМИ, на радио
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | с 2008 по 2011  Агентство участвовало в уникальном проекте
              span.text_italic  ребрендинга 
              | старейшей областной газеты Самарской области 
              span.text_italic «Волжская коммуна» 
            p
             strong (в том числе создание сайта газеты vkonline.ru)                
          .col-12
            p Заказчик: Правительство Самарской области
            p Разработка и проведение рекламной кампании по продвижению нового имиджа издания
        section.row.section    
          .col-sm-12.col-md-4.text-right
            span.quote.d-none.d-md-block
          .col-sm-12.col-md-8
            h2
              | с 2010 по 2014 
              span.text_italic  долгосрочный опыт сотрудничества 
              | рекламно-организационной плоскости с промышленным предприятием нефтяной отрасли              
          .col-12
            p Заказчик: Куйбышевский нефтеперерабатывающий заводи
            p Подготовка и организация тематических мероприятий «под ключ»:
            p День Молодежи, День Выпускника, Конкурс Детского рисунка, Мероприятия «Лучший по профессии», «День ветеранов завода», Подготовка мероприятия «Юбилей КНПЗ»                     
    include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
