index.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Главная | Mastermedia</title>
</head>

<body>
    <header class="header section">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container"><a class="navbar-brand" href="#"><img class="img-fluid navbar__logo" src="/mastermedia/img//logomm-570x123.png" alt="MasterMedia"></a><a class="contact d-none d-sm-block d-md-none" href="tel:+7 (846) 303-04-01">+7 (846) 303-04-01</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Мы</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Услуги</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Проекты</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#contacts">Контакты </a></li>
                        <li class="nav-item navbar-nav__item contact"><a class="nav-link navbar-nav__link" href="#">+7 (846) 303-04-01</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 512.00096 512.00096" enable-background="new 0 0 30 30">
                                    <path d="m373.40625 0h-234.8125c-76.421875 0-138.59375 62.171875-138.59375 138.59375v234.816406c0 76.417969 62.171875 138.589844 138.59375 138.589844h234.816406c76.417969 0 138.589844-62.171875 138.589844-138.589844v-234.816406c0-76.421875-62.171875-138.59375-138.59375-138.59375zm108.578125 373.410156c0 59.867188-48.707031 108.574219-108.578125 108.574219h-234.8125c-59.871094 0-108.578125-48.707031-108.578125-108.574219v-234.816406c0-59.871094 48.707031-108.578125 108.578125-108.578125h234.816406c59.867188 0 108.574219 48.707031 108.574219 108.578125zm0 0" />
                                    <path d="m256 116.003906c-77.195312 0-139.996094 62.800782-139.996094 139.996094s62.800782 139.996094 139.996094 139.996094 139.996094-62.800782 139.996094-139.996094-62.800782-139.996094-139.996094-139.996094zm0 249.976563c-60.640625 0-109.980469-49.335938-109.980469-109.980469 0-60.640625 49.339844-109.980469 109.980469-109.980469 60.644531 0 109.980469 49.339844 109.980469 109.980469 0 60.644531-49.335938 109.980469-109.980469 109.980469zm0 0" />
                                    <path d="m399.34375 66.285156c-22.8125 0-41.367188 18.558594-41.367188 41.367188 0 22.8125 18.554688 41.371094 41.367188 41.371094s41.371094-18.558594 41.371094-41.371094-18.558594-41.367188-41.371094-41.367188zm0 52.71875c-6.257812 0-11.351562-5.09375-11.351562-11.351562 0-6.261719 5.09375-11.351563 11.351562-11.351563 6.261719 0 11.355469 5.089844 11.355469 11.351563 0 6.257812-5.09375 11.351562-11.355469 11.351562zm0 0" /></svg></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="first header__picture">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__picture-text">
                            <p>МЫ - современная и независимая<br>универсальныя компания<br><span class="text_italic">с достойной деловой репутацией</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><a href="/services.html">Услуги</a><br><a href="/projects.html">Проекты</a>
                    <h1 class="pagetitle">Мы</h1>
                </div>
            </div>
        </div>
        <section class="section text" id="aboutUs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                    <div class="col-sm-12 col-md-8">
                        <h2>МЫ — коллектив<br>АГЕНТСТВА <span class="text_italic">МАСТЕР МЕДИА </span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 offset-md-4 col-md-8">
                        <p>Наше Агентство по праву гордится опытом успешного и интересного сотрудничества со своими постоянными клиентами:<br><span class="text__partners">Альфа Банк, Сбербанк , Банк ВТБ, Мегафон, Транснефть - Дружба, Куйбышевский нефтеперерабатывающий завод, Куйбышев Азот, Солар Системс, Самарский Медицинский Университет, Самарские коммунальные системы, Компания Т+, Инфотранс!</span></p>
                        <p>Агентство безмерно благодарно за многочисленные качественные проекты и годы работы Группе компаний Амонд, Отелю Holiday Inn, Новокуйбышевской нефтехимической компании, Клиникам Октопус, Клинике ЭКО и многими другими. </p>
                        <p>МЫ признательны всем нашим Партнерам — Самарский, Московским, Краснодарским, Питерским, Екатеринбургским, Казанским Агентствам за крутые и незабываемые проекты, выполненные совместно или делегированные нам «под ключ».</p>
                        <p> <strong>МЫ предоставляем полный цикл по оказанию маркетинговых услуг, включая:</strong>
                            <ul>
                                <li>event-услуги,</li>
                                <li>дизайн,</li>
                                <li>брендинг,</li>
                                <li>разработку креативных решений, </li>
                                <li>рекламных кампаний,</li>
                                <li>проведение исследований,</li>
                                <li>связи с общественностью. </li>
                            </ul><br>МЫ занимаемся интегрированными маркетинговыми коммуникациями, потому что комплексный подход приносит максимально эффективный результат, нежели действия разрозненных агентств-подрядчиков.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-right"><span class="quote d-none d-md-block"></span></div>
                    <div class="col-sm-12 col-md-8">
                        <h2>Наша команда всегда работает <span class="text_italic">в плотной связке с клиентом </span>и на благо клиента и его репутации.</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="team">
            <div class="container">
                <article class="person section__child">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="person__photo"><img class="img-fluid" src="/mastermedia/img/team/popova_1000-667.jpg"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="person__info">
                                <p><span class="person__name">Екатерина Попова</span><br><span class="person__work-position">Сенсей аналитики, системы и креатива </span></p>
                                <section class="person__text">
                                    <p>Три высших образования<br>Опыт работы с государственными структурами</p>
                                    <p>Цитата: «Все дороги ведут к людям» (С.Экзюпери)</p>
                                </section><a class="person__email" href="mailto:popova_ev@list.ru">popova_ev@list.ru</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="person section__child">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="person__photo"><img class="img-fluid" src="/mastermedia/img/team/diana_1000-667.jpg"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="person__info">
                                <p><span class="person__name">Диана Куля</span><br><span class="person__work-position">просто директор </span></p>
                                <section class="person__text">
                                    <p>Контролирую, есть ли у агентства свежий рутокен, хорошо ли «прижилось» крипто-про, как поживает аккредитация на ЭТП, корректна ли ЭЦП, ЕИС, чтобы вовремя оказаться в ЕРУЗ и открыть спецсчет для работы по 44 ФЗ и по 223 ФЗ в рамках МСП… В общем, ничего сложного, все как обычно. </p>
                                </section><a class="person__email" href="mailto:info@mastermediapro.ru">info@mastermediapro.ru</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="person section__child">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="person__photo"><img class="img-fluid" src="/mastermedia/img/team/nataliya1000-667.jpg"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="person__info">
                                <p><span class="person__name">Наталья Штепо</span><br><span class="person__work-position">Стратегический PR-Гуру</span></p>
                                <section class="person__text">
                                    <p>Большой опыт работы с различными СМИ. Проведу мероприятие любого формата от пресс-конференции до роскошной свадьбы.<br>Закончила институт культуры.<br>В агентстве с основания.</p>
                                    <p> Цитата: «Живи здесь и сейчас»</p>
                                </section><a class="person__email" href="mailto:n_shtepo@mail.ru">n_shtepo@mail.ru</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="person section__child">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="person__photo"><img class="img-fluid" src="/mastermedia/img/team/sasha_1000-667.jpg"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="person__info">
                                <p><span class="person__name">Александра Эхина</span><br><span class="person__work-position">Эксперт event-технологий, маркетолог, SMM-консультант</span></p>
                                <section class="person__text">
                                    <p>С легкостью могу реализовать проект любого уровня сложности. Найти актеров и массовку для съемок, пригласить гостей на мероприятие за один вечер?! Легко!<br>Закончила СГЭУ, специальность Маркетинг<br>Имею опыт работы в сфере рекламы, PR и Event.</p>
                                    <p> Цитата: «Никогда не откладываю на завтра то, что могу сделать сегодня».</p>
                                </section><a class="person__email" href="mailto:ehinaaleksandra@yandex.ru">ehinaaleksandra@yandex.ru </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="person section__child">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="person__photo"><img class="img-fluid" src="/mastermedia/img/team/lebedeva-1000-667.jpg"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="person__info">
                                <p><span class="person__name">Елена Лебедева</span><br><span class="person__work-position">Руководитель направления продаж </span></p>
                                <section class="person__text">
                                    <p>Основные навыки: «Свой человек» с людьми, обожаю общаться и рассказывать обо всем так легко и вкусно, что все хотят приобрести это…<br>филолог и психолог <br>В агентстве с основания</p>
                                    <p> Цитата: «Продавцом называется человек, дающий покупателям, а в идеале, всем окружающим — возможность обмена денег на счастье.»</p>
                                </section><a class="person__email" href="mailto:lebedeva_lena@list.ru">lebedeva_lena@list.ru </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <section id="contact-form-section">
        <form method="POST" class="contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Имя</label>
                                    <input type="text" class="form-control" name="name" id="name" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Компания</label>
                                    <input type="text" class="form-control" name="company" id="company" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Телефон</label>
                                    <input type="text" class="form-control" name="phone" id="phone" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label>Задайте вопрос или кратко опишите ситуацию</label>
                                <textarea class="form-control" name="message" id="message" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
                        <div class="form__description">Если остались вопросы, звоните по телефону
                            <br><a href="tel:+7 (846) 303-04-01" class="contact-form__link"><strong style="white-space: nowrap;">+7 (846) 303-04-01</strong></a>
                            <br> или пишите на <a href="mailto:info@mastermediapro.ru" class="contact-form__link"><strong>info@mastermediapro.ru</strong></a>
                        </div>
                        <div class="contact-form__submit-section">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck2" name="approve[]" value="approve" checked required>
                                <label style="font-size:0.8rem;margin-bottom:1em;" class="form-check-label" for="exampleCheck2">Нажимая на кнопку «Отправить», даю
                                    <a class="contact-form__link" href="#"><span style="font-weight:bold;">согласие на обработку персональных данных</span></a>
                                </label>
                            </div>
                            <input type="text" name="nospam" value="" class="d-none" />
                            <div class="text-center text-sm-left"><input class="btn btn-outline-light contact-form__button" type="submit" value="Отправить"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <footer>
        <div id="contacts">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53017a4256d3d7057bb88b450f9fe1c6ef5adb4a5549a9863e2c2afccfb985a6&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Россия, 443041,<br>г. Самара, <br>ул. Буянова, 1, корпус 4, <br>офис 707. </p>
                    </div>
                    <div class="col-sm-6">
                        <p> Тел. <a href="tel:+7 (846) 303-04-01"><strong>+7 (846) 303-04-01</strong></a><br>Эл. почта <a href="mailto:info@mastermediapro.ru"><strong>info@mastermediapro.ru</strong></a></p>
                        <p>Мы работаем с 10 до 18 часов</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>© 2018-2019 MasterMedia - все права защищены</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Разработка сайта <a href="https://admix.pro">ADMiX Digital Agency</a></p>
                    </div>
                </div>
            </div>
        </section>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>

src/pug/index.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/navbar
      .first.header__picture
        .container
          .row
            .col-12
              .header__picture-text
                p
                  |МЫ - современная и независимая
                  br
                  |универсальныя компания
                  br
                  span.text_italic с достойной деловой репутацией
    main
      .container
        .row
          .col-sm-12
            a(href="/services.html") Услуги
            br
            a(href="/projects.html") Проекты
            h1.pagetitle Мы
      //- Company Description
      section#aboutUs.section.text
        .container      
          .row
            .col-sm-12.col-md-4.text-right
              span.quote.d-none.d-md-block
            .col-sm-12.col-md-8
              h2 МЫ — коллектив
                br
                | АГЕНТСТВА 
                span.text_italic МАСТЕР МЕДИА        
          .row
            .col-sm-12.offset-md-4.col-md-8
              p Наше Агентство по праву гордится опытом успешного и интересного сотрудничества со своими постоянными клиентами:
                br
                span.text__partners Альфа Банк, Сбербанк , Банк ВТБ, Мегафон, Транснефть - Дружба, Куйбышевский нефтеперерабатывающий завод, Куйбышев Азот, Солар Системс, Самарский Медицинский Университет, Самарские коммунальные системы, Компания Т+, Инфотранс!
              p Агентство безмерно благодарно за многочисленные качественные проекты и годы работы Группе компаний Амонд, Отелю Holiday Inn, Новокуйбышевской нефтехимической компании, Клиникам Октопус, Клинике ЭКО и многими другими. 
              p МЫ признательны всем нашим Партнерам — Самарский, Московским, Краснодарским, Питерским, Екатеринбургским, Казанским Агентствам за крутые и незабываемые проекты, выполненные совместно или делегированные нам «под ключ».
              p 
                strong МЫ предоставляем полный цикл по оказанию маркетинговых услуг, включая:
                ul                 
                  li event-услуги,
                  li дизайн,
                  li брендинг,
                  li разработку креативных решений, 
                  li рекламных кампаний,
                  li проведение исследований,
                  li связи с общественностью. 
                br
                |МЫ занимаемся интегрированными маркетинговыми коммуникациями, потому что комплексный подход приносит максимально эффективный результат, нежели действия разрозненных агентств-подрядчиков. 
          .row
            .col-sm-12.col-md-4.text-right
              span.quote.d-none.d-md-block
            .col-sm-12.col-md-8      
              h2 Наша команда всегда работает 
                span.text_italic в плотной связке с клиентом 
                | и на благо клиента и его репутации.
      //- Photo of team
      section#team.section    
        .container
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/popova_1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Екатерина Попова
                    br
                    span.person__work-position Сенсей аналитики, системы и креатива 
                  section.person__text
                    p Три высших образования
                      br
                      | Опыт работы с государственными структурами
                    p
                      |Цитата: «Все дороги ведут к людям» (С.Экзюпери)
                  a.person__email(href="mailto:popova_ev@list.ru") popova_ev@list.ru
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/diana_1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Диана Куля
                    br
                    span.person__work-position просто директор                    
                  section.person__text
                    p Контролирую, есть ли у агентства  свежий рутокен, хорошо ли «прижилось» крипто-про,  как поживает аккредитация на ЭТП,   корректна ли ЭЦП,  ЕИС, чтобы  вовремя оказаться в ЕРУЗ и открыть спецсчет для работы по 44 ФЗ и  по 223 ФЗ  в рамках МСП… В общем, ничего сложного, все как обычно.           
                  a.person__email(href="mailto:info@mastermediapro.ru") info@mastermediapro.ru
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/nataliya1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Наталья Штепо
                    br
                    span.person__work-position Стратегический PR-Гуру
                  section.person__text
                    p Большой опыт работы с различными СМИ. Проведу мероприятие любого формата от пресс-конференции до роскошной свадьбы.
                      br
                      | Закончила институт культуры.
                      br
                      | В агентстве с основания.
                    p  
                      |Цитата: «Живи здесь и сейчас»
                  a.person__email(href="mailto:n_shtepo@mail.ru") n_shtepo@mail.ru
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/sasha_1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Александра Эхина
                    br
                    span.person__work-position Эксперт event-технологий, маркетолог, SMM-консультант
                  section.person__text
                    p С легкостью могу реализовать проект любого уровня сложности.  Найти актеров и массовку для съемок, пригласить гостей на мероприятие за один вечер?! Легко!
                      br
                      | Закончила СГЭУ, специальность Маркетинг
                      br
                      | Имею опыт работы в сфере рекламы, PR и Event.
                    p  
                      | Цитата: «Никогда не откладываю на завтра то, что могу сделать сегодня».
                  a.person__email(href="mailto:ehinaaleksandra@yandex.ru") ehinaaleksandra@yandex.ru 
          article.person.section__child
            .row
              .col-sm-12.col-md-6
                .person__photo
                  img.img-fluid(src=img+"team/lebedeva-1000-667.jpg")
              .col-sm-12.col-md-6
                .person__info
                  p
                    span.person__name Елена Лебедева
                    br
                    span.person__work-position Руководитель направления продаж                     
                  section.person__text
                    p Основные навыки: «Свой человек» с людьми, обожаю общаться и  рассказывать обо всем так легко и вкусно, что все хотят приобрести это…
                      br
                      | филолог и психолог 
                      br
                      | В агентстве с основания
                    p 
                      | Цитата: «Продавцом называется человек, дающий покупателям, а в идеале, всем окружающим — возможность обмена денег на счастье.»
                  a.person__email(href="mailto:lebedeva_lena@list.ru") lebedeva_lena@list.ru                      
    include includes/contact-form-section
    include includes/footer
    include includes/bottom-scripts
